/* * selektor gwiazdki odnosi się do wszystkich elementów na stronie */
*{
    /* pozwala na skalowanie elementu włączając padding i border 
    (domyślnym  zachowaniem przy skalowaniu elementów jest branie pod uwagę
    tylko wielkiści elementów - bez bordera i paddingu*/
    box-sizing: border-box;
}

body{
    background-color: rgb(76, 201, 159);
    margin:0;
}
main{
    /* border: 5px dashed red; */
    display:flex;
    flex-direction: column;
    align-items: center;
}
article{
    /* border: 5px dashed blue; */
    /* position relative zachowuje się jak static - czyli domyślnie, ale nie
    jest static, więc pozycje absolute dostosywują się do niej  */
    position: relative;
   /* szerokość na 90 ze 100 kratek szerokości strony */
    width:90vw;
    /* wysokość na 90 ze 100 kratek szerokości strony */
    height:90vw;
    /* dzięki usteleniu wspólnej wielkości na width i height otrzymujemy kwadrat */
}

/* article img{
    position: absolute;
    border: 5px dashed green;
    width:100%; */
    

article p,
article img{
    /* ozycja absolutna pozwala nałożyć jeden element na drugi, nie zwraca uwagi
    na rodzeństwo, a dostosowuje się do najbliższego przodka, który nie jest
    w pozycji statycznej. Jeżeli takiego przodka nie ma to dostosowuje się do okna (width) */
    position: absolute;
   /* ptzyjmuje twarde wartości rodzica (90vw) */
    width:100%;
    height:100%;
    /* border: 5px dashed rgb(182, 117, 20); */
    margin: 0;
    /* wyśrodkowanie wnętrza elementów */
    display: flex;
    align-items: center;
    justify-content: center;
}

article p {
    background-color: rgb(132, 132, 230);
    /* opóźnia zmianę elementu o jakiś czas - 0,5 sekundy */
    transition:.5s;
    /* border: 5px dashed yellow;
    position: absolute;
    top:0; */

    /* jeśli używamy wartości mniejszej niż 1 nie musimy używać zera - 0.2 =.2 */
}
/* :activve - odnosi się do elementu pokiknięciu
    :hover - odnosi się do elementu nakierowaniu myszkę (nie działa na urządzeniach moblinych)
 */
article p:active{
    /* przezroczysztość elementu */
    opacity: 0;
}

footer{
    position:fixed;
    bottom:0;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-left: 2em;
    background-color: rgb(132, 132, 230);

}
header{
    /* sticky działa tylko w połączeniu z warunkiem top=0 przykleja się d górnej 
    krawędzi */
    position:sticky;
    top:0;
    background-color: rgb(132, 122, 230);
    /* ułożenie elementu ponad innymi podczas przewijania, im większa liczbaz-index tym
    element bliżej użytkownika w osi Z */
    z-index: 1;
}
h1{
    margin:2rem;
}



/* article{
     
    display:flex;
    justify-content: flex-end; 
    justify-content: space-between; 
    align-items: center;
    position:sticky;
    width: 100%
} */


/* dodaj waunkowo jeśli wielkość ekranu użytkownika ma przymanjmniej 768 px */
@media (min-width:768px){
    article{
        width: 35vw;
        height: 35vw;
        margin-bottom: 5vw;
    }
    main{
        flex-direction: row;
        /* pozwól na spadnięcxie elementu do kolejnego wiersza 
        jeśli nie mieszczą sie w jednym wierszu */
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* margin:10px 10px 10px 10px; */
    }

}