@charset "UTF-8";
/* Selektro gwiazdki odnosi się do wszystkich elementów na stronie */
/* pozwwal na skalowanie elementów włączając padding i border
(domyślnym zachowaniem przy skalowaniu elementow jest branie pod uwagę
tylko wielkości elementu - bez border i padding */
* {
  box-sizing: border-box;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: green;
  z-index: 1;
  padding: 0.1rem 1rem;
}

body {
  background-color: mediumseagreen;
  margin: 0;
}

main {
  display: flex;
  align-items: center;
}

article {
  /* position relative, zachowuje się jak static,
  czyli domyślnie  ale nie jest static, więc pozycje wewnątrz 
  dostosowują się do niej */
  position: relative;
  /* szerokość na 90 ze 100 kratek okna */
  width: 90vw;
  /* wysokość na 90 ze 100 kratek okna */
  height: 90vw;
  display: flex;
  align-items: center;
}

/* article p{
    border: 2px dashed yellow;
    position: absolute;
    width: 100%;
    top: 0;
}
article img{
    border: 2px dashed darkorange;
    position: absolute;
    width: 100%;
} */
/* position absolute pozwala nalożyć jeden element na drugi,
nie zwraca uwagi na rodzica, a dostosowuje się do przodka który nie jest w ozycji */
article p,
article img {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  /* wyśrotkowani ewnętrza elementów */
  display: flex;
  align-items: center;
  justify-content: center;
}

article p {
  background-color: rgb(4, 73, 4);
  /* opożnia zmianę elementów o jakiś czas */
  transition: 0.5s;
  /* jeśli używamy wartości mniejszej niż 1 nie musimy używać zera */
}

/* active odnosi się do elementu po kliknięciu */
/* hower odnosi się do elementu po nmakierowaniu myszka (nie dziala na mobilnych */
article p:active {
  opacity: 0;
}

@media (min-width: 768px) {
  article {
    width: 35vw;
    height: 35vw;
    margin-bottom: 5vw;
  }
}
main {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: green;
  padding-left: 2rem;
}