*{box-sizing: border-box;}
:root{
  --light-bg-color: royalblue;
  --dark-bg-color: rgb(36, 39, 46);
  --light-font-color: #000;
  --dark-font-color: #fff;
}
body{
  color: var(--light-font-color);
  background-color: var(--light-bg-color);
  margin:0;
  >header {
    padding:.4rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    .outerSwitch{
      border:2px solid rgba(173, 65, 65, 0.577);
      border-radius:2rem ;
      background-color: #9a905d4b;
      cursor:pointer;
      .switch{
        width:3.5rem;
        display:flex;
        transition:.5s;
        &.dark{
          justify-content: flex-end;
        }
        .innerSwitch{
          width:2rem;
          height:2rem;
          border:3px solid rgb(183, 124, 124);
          background-color:rgb(237, 183, 183);
          border-radius:50%;
        }
      }
    }
    input, button{
      padding:.5rem;
    }
    button{
      cursor:pointer;
    }
  }
  main{
    header{
      padding:1rem;
      background-color:rgba(255, 255, 255, 0.342);
      .city{
        display:flex;
        justify-content: space-between;
        align-items: center;
        .mainInfo{
          display:flex;
          flex-direction: column;
          align-items: center;
          img{
            max-height:7rem;
          }
          h2{
            margin:0;
          }
        }
      }
    }
    .content{
      display:flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(240, 248, 255, 0.261);
      #range{
        width:40%;
        transform: scale(2);
        margin:2rem 0 0 0;
        background-color: #9a905d;
      }
      .cube{
        padding: 2rem 0;
        margin-bottom: 2rem;
        background-color:rgba(0, 0, 0, 0.613);
        text-align: center;
        width:80%;
        h3,h4{
          margin:0; 
        }
        .weatherMain{
          .minMax{
            display:flex;
            justify-content: center;
          }
        }
      }
    }
  }
  footer{
    padding:1rem;
    p{
      text-align:right;
    }
  }

  &.dark{
    color: var(--dark-font-color);
    background-color: var(--dark-bg-color);
  }

  @media(min-width:768px){
    // >header,
    main{
      header{

        padding:2rem 30%;
      }
    }
  }
}