*box-sizing: border-box;

body {
  background-color: aquamarine;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
article {
  position: relative;
  width: 90vw;
  height: 90vw;
}
/*article p {
  border: 5px dashed yellow;
  position: absolute;
  top: 0;
width:100%;
}
article img {
  position: absolute;
  border: 5px dashed green;
  width: 100%;
}*/

article p,
article img {
  position: absolute;
  width: 100%;
  height: 100%;

  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
article p {
  background-color: rgb(223, 239, 207);
  transition: 0.5s;
}
article p:active {
  opacity: 0;
}
header {
  position: sticky;
  top: 0;
  background-color: aquamarine;
  z-index: 1;
  padding: 1rem 1rem;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: aquamarine;
  padding-left: 2rem;
}

@media (min-width: 768px) {
  article {
    width: 35vw;
    height: 35vw;
    margin-bottom: 5vw;
  }
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
